# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtuelle Umgebungen
.venv/
venv/
env/
prototyp/.venv/

# VS Code
.vscode/

# macOS
.DS_Store

# Datenbank (wird per seed.py erzeugt)
*.db
*.sqlite
*.sqlite3